body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.inputscadastrocliente {     
  width: 30%;    
  height: 50px;    
  padding: 10px; 
  border-radius: 5px; 
  margin-left: 33%;
  font-size: 15px; 

}

.inputscadastrocliente.is-invalid {
  border-color: red; /* Deixe a borda vermelha quando houver erro */
}

.inputscadastroproduto{     
  width: 30%;    
  height: 50px;    
  padding: 10px; 
  border-radius: 5px; 
  margin-left: 1%;
  font-size: 15px; 

}

.inputscadastroservico{     
  width: 30%;    
  height: 50px;    
  padding: 10px; 
  border-radius: 5px; 
  margin-left: 1%;
  font-size: 15px; 

}

.inputscadastrocliente2{
  width: 30%;    
  height: 50px;    
  padding: 10px; 
  border-radius: 5px; 
  margin-left: 33%;
  font-size: 15px; 
  margin-left: 21%;
  margin-right: 21%;
}

.inputscadastroproduto2{     
  width: 30%;    
  height: 50px;    
  padding: 10px; 
  border-radius: 5px; 
  margin-left: 35%;
  margin-right: 51%;
  font-size: 15px; 

}


